body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }

  .container {
    margin-top: 50px;
  }

  h1 {
    color: #007bff;
  }

  p {
    font-size: 18px;
  }

  .bg-fondo{
    background-color: #77477e;
}

.bg-amarillo{
    background-color: #ffc501;
}