.bg-verde{
    background-color: #fe9600;
}

.bg-amarillo{
    background-color: #ffc501;
}

.img-carrusel{
    height: 650px;
    width: 100%;
}

.bg-fondo{
    background-color: #77477e;
}

.mt-6{
    margin-top: 3.5rem;
}

.img-cabeza{
    width: 100%;
    height: 400px;
}

.img-card{
    width: 100%;
    height: 353.85px;
}

.img-card2{
    width: 304.58px;
    height: 798px;
}

/* Aumentar la especificidad de los selectores */
.accordion .accordion-button {
    background-color: #ffc501; /* Cambia este color para el estado por defecto */
    color: #212529; /* Cambia este color para el texto */
}

.accordion .accordion-button.collapsed {
    background-color: #fe9600; /* Cambia este color para el estado colapsado */
    color: black; /* Cambia este color para el texto en estado colapsado */
}

.img-acordion{
    float: right
}

.p-acordion{
    font-size: 1.5rem;
    float: left;
}

/* Agrega estas clases de animación a tu archivo CSS */
.animate__animated {
    animation-duration: 1s;
}

.animate__fadeInUp {
    --animate-duration: 1s;
    animation-name: fadeInUp;
}

.animate__fadeInDown {
    --animate-duration: 1s;
    animation-name: fadeInDown;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* CSS para el footer mejorado */
/* Estilos para el footer */
.bg-footer{
    background-color: #03001c;
    color: white;
}


.table-container {
    overflow-x: hidden;
    max-width: 100%; /* Ajusta esto según sea necesario */
}

.table-responsive {
    overflow-x: hidden;
}

.table img {
    max-width: 100%;
    height: auto;
}

.table tbody tr {
    margin-bottom: 10px;
}

.containerr {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.P-TI{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.m-c2{
    margin-top: 5rem;
}

.mt-articulo{
    margin-top: 6rem;
}

.mt-form{
    margin-top: 5rem;
}

.mt-btn{
    margin-top: 2rem;
}   

.mt-car{
    margin-top: 8rem;
}

/* En tu archivo style.css o dentro del bloque <style> en el head del HTML */
.mt-btn button {
    margin: 10px; /* Ajusta según sea necesario */
 }

 
 .mb-comprar{
    margin-top: 30rem;
 }
 
  /* Ajustes específicos para las tarjetas y el menú desplegable */
  .card {
    margin-bottom: 20px; /* Espacio entre las tarjetas */
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }

  .dropdown-menu {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: all 0.3s ease; /* Agregamos una transición para una apariencia más suave */
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }